!!!
%html
  %head
    %title The Clone Project
    = stylesheet_link_tag "reset","app"
    = javascript_include_tag  "all"

  %body{class: page_classes}
    %header
      %h1 Clone
    %article.main
      = yield
    %footer
      = link_to "Preorder", "#"
      = link_to "Credits", "/credits.html"
