!!!
%html
  = partial "head"

  %body
    %header= yield_content :title

    %main= yield

    %footer
      %nav
        = link_to "Preorder", "http://clonestore.bigcartel.com/", class: 'preorder'
        = yield_content :act_info
        = link_to "Images", 'all_images.html', class: 'images'
        = link_to "Credits", "credits.html", class: 'credits'
