!!!
%html
  = partial "head"

  %body
    %header#header
      %h1 Clone
      .countdown
    %article#content
      = yield

    %footer
      %nav
        = link_to "Preorder", "#", class: 'preorder'
        = link_to "Act Info", "#", class: 'act_info'
        = link_to "Images", 'all_images.html', class: 'images'
        = link_to "Credits", "credits.html", class: 'credits'
