---
layout: credits
---

#section.credits
  %dl
    %dt Music
    %dd all songs written, performed and engineered by #{link_to "Rick Colado", "http://www.iamrickolus.com"} and #{link_to "Ben Cooper", "http://radicalface.com"}

    %dt Technical
    %dd mixed by #{link_to "Ben Cooper", "http://radicalface.com"}, mastered by #{link_to "Greg Reely", "http://gregreely.com"}

    %dt Design
    %dd web and product design by #{link_to "Ben Cooper", "http://radicalface.com"}

    %dt Video
    %dd animation and after effects by #{link_to "Destyn Patera", "http://destynpatera.com"}

    %dt Images
    %dd artwork by #{link_to "Gordon Mcbryde", 'http://featherwax.com'} and #{link_to "Ben Cooper", "http://radicalface.com"}

    %dt Code
    %dd website coded by #{link_to "Micah Cooper", "http://mrmicahcooper.com"}
